.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
}
.Header > .nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.Header > .nav > .title {
  color: whitesmoke;
  font-weight: bold;
  font-size: 2rem;
}
.Header > .nav > .rightOpt {
  display: flex;
  width: 12vw;
  justify-content: space-between;
}
.Header > .nav > .rightOpt > .btn {
  padding: 0.4rem 0.5rem;
  outline-color: transparent;
  border: none;
  border-radius: 3px;
  color: whitesmoke;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
  transition: var(--transition);
}
.Header > .nav > .rightOpt > .btn:hover {
  transform: translate(-1px, -7px);
  background-color: rgba(148, 73, 73, 0.582);
}
.Header > .border {
  margin-top: 1rem;
  width: 100%;
  border-bottom: 3.2px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 640px) and (max-width: 1024px) {
  .Header > .nav > .rightOpt {
    display: flex;
    width: 23vw;
    justify-content: space-between;
  }
}
