.cardTodolist {
  width: 100%;
  margin: 1rem;
  display: flex;
  padding: 2rem 0;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
}
.cardTodolist > .border {
  width: 90%;
  margin: 0.5rem;
  border-bottom: 3.2px solid rgba(255, 255, 255, 0.5);
}
.cardTodolist > .option {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.cardTodolist > .option > .text {
  color: whitesmoke;
  font-size: 20px;
}
.cardTodolist > .option > .btnfaEllipsisV {
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  padding: 0.4rem 0.8rem;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.cardTodolist > .list {
  width: 90%;
}
.cardTodolist > .list > .item {
  width: 100%;
  display: flex;
  padding: 0.7rem;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  background-color: whitesmoke;
  align-items: center;
  justify-content: space-between;
}
.cardTodolist > .list > .itemInput {
  width: 100%;
  display: flex;
  padding: 0.7rem;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  flex-direction: column;
  background-color: whitesmoke;
  justify-content: space-between;
}
.cardTodolist > .list > .itemAdd {
  width: 100%;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 0.2rem;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px dashed rgba(255, 255, 255, 0.5);
}
.cardTodolist > .list > .itemAdd:hover {
  background-color: whitesmoke;
  border-radius: 0.2rem;
  color: black;
}
.cardTodolist > .list > .item > .btnfaEllipsisVBlack {
  cursor: pointer;
  border-radius: 8px;
  padding: 0.2rem 0.8rem;
  background-color: rgba(0, 0, 0, 0.03);
}
.cardTodolist > .list > .itemInput > .inputTodo {
  width: 100%;
  padding: 1rem;
  border: transparent;
  border-radius: 0.3rem;
}
.cardTodolist > .list > .itemInput > div > .inputEst {
  width: 60%;
  padding: 0.5rem;
  border: transparent;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.08);
}

/* Remove Arrows/Spinners */
/* Chrome, Safari, Edge, Opera */
.cardTodolist > .list > .itemInput > div > .inputEst::-webkit-outer-spin-button,
.cardTodolist
  > .list
  > .itemInput
  > div
  > .inputEst::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.cardTodolist > .list > .itemInput > div > .inputEst[type="number"] {
  -moz-appearance: textfield;
}

.cardTodolist > .list > .itemInput > div > .adjustEst {
  width: 40%;
  display: grid;
  margin-left: 0.35rem;
  grid-template-columns: auto auto;
}
.cardTodolist > .list > .itemInput > div > .adjustEst > .btnAdjustEst {
  width: 90%;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 1);
}
.cardTodolist > .list > .itemInput > div > .adjustEst > .btnAdjustEst:hover {
  background-color: #ff735a;
  color: white;
}
